{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <h2 class="border-bottom mb-4">Listings</h2>
  <div class="filter-section mb-4">
    <form action="" method="get">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="neighbourhood-group-filter"
            >Neighbourhood Group</label
          >
          <select
            class="form-control mb-2"
            id="neighbourhood-group-filter"
            name="neighbourhood_group"
          >
            <option value="">Neighbourhood Group</option>
            {% for group in neighbourhood_groups %}
            <option value="{{ group }}">{{ group }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-auto">
          <label class="sr-only" for="room-type-filter">Room Type</label>
          <select
            class="form-control mb-2"
            id="room-type-filter"
            name="room_type"
          >
            <option value="">Room Type</option>
            {% for type in room_types %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Filter</button>
        </div>
      </div>
    </form>
  </div>
  <div style="overflow-x: auto">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          {% for column in data.columns %}
          <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data.rows %}
        <tr>
          {% for column in data.columns %}
          <td>{{ row[column] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
