{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2 class="border-bottom mb-4">Listings</h2>
        <div class="row">
            {% for row in data.rows %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ row['name'] }}</h5>
                            <p class="card-text"><strong>Host:</strong> {{ row['host_name'] }}</p>
                            <p class="card-text"><strong>Neighbourhood:</strong> {{ row['neighbourhood'] }}</p>
                            <p class="card-text"><strong>Room Type:</strong> {{ row['room_type'] }}</p>
                            <p class="card-text"><strong>Price:</strong> {{ row['price'] }}</p>
                            <p class="card-text"><strong>Minimum Nights:</strong> {{ row['minimum_nights'] }}</p>
                            <p class="card-text"><strong>Number of Reviews:</strong> {{ row['number_of_reviews'] }}</p>
                            <p class="card-text"><strong>Host Listings:</strong> {{ row['calculated_host_listings_count'] }}</p>
                            <p class="card-text"><strong>Availability:</strong> {{ row['availability_365'] }}</p>
                            <p class="card-text"><strong>Number of Reviews Last Twelve Months:</strong> {{ row['number_of_reviews_ltm'] }}</p>
                            <p class="card-text"><strong>License:</strong> {{ row['license'] }}</p>
                            <a href="#" class="btn btn-primary btn-sm">View Listing</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
